GOOGLE_DRIVE_PARENT_FOLDER_ID=link_url_folder_drive
GOOGLE_DRIVE_CREDENTIALS_PATH=jalur_json_api_google_drive
GOOGLE_DRIVE_TOKEN_PATH=credentials_api_goggle_drive
BRIDGE_INTERNAL_URL=url_bridge_internal
BRIDGE_INTERNAL_SECRET=isi_secret_disini
ADMIN_LID=LID_NOMOR_ADMIN
